body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#description{
    text-align:center;
}
/* carousel style*/
.carousel-inner img {
    width: 1100px;
    height: 500px;
}
/*made jumbotron text centered*/
#jumbotron {
    text-align: center;
}
    /*moved content to center*/
#demo{
    justify-content:center;
}
/*made cards smaller*/
#card{
    width: 580px;
    height: 310px;
}
/*background-color review index*/ 
#reviewIndex {
    background-color: whitesmoke;
}
/*styled button*/
.button {
    box-shadow: 5px 5px gray;
}
/*background-color review details*/ 
#reviewDetails {
    background-color: grey;
}
/*background-color category index*/ 
#categoryIndex {
    background-color: grey;
}
#nav{
    background-color:black;
}
#jumbotron{
    background-color:black;
}